target/
pkg/
node_modules/

.direnv/
result*

crates/holochain_client_wrapper/src/holochain_client_wrapper.js

# holochain
happs/**/*.dna
happs/**/*.happ
happs/**/*.wasm
.hc
.hc_live_*

# web-happ
crates/dist.zip
crates/paperz_ui/index.js
happs/paperz/paperz.webhapp
